#!bin/bash
## "./" -> BIN_DIR=XD
#echo "override configuraion script example"

#create configuration sybolic link
CONF_PATH="$XD/default/conf.sh"
if [ ! -e $CONF_PATH ]; then
  ln -s $(pwd)/conf.sh $CONF_PATH
fi

#IMPORT=("./default/import/*");

